@charset "UTF-8";
/* CSS Document */

.btn_normal {
	width:auto;
	background-color:#000;
	color:#FFFFFF;
	line-height:30px;
	height:30px;
	border:0px;
	margin:0px;
	padding:0px 10px;
	overflow:visible;
	border-radius:0px;
	-webkit-appearance:none;
	text-transform: uppercase;
	font-size: 11px;
}


.btn_transparent {
	width:auto;
	background-color:transparent;
	color:#333;
	line-height:30px;
	height:30px;
	border:0px;
	margin:0px;
	padding:0px 10px;
	overflow:visible;
	border-radius:0px;
	-webkit-appearance:none;
	text-transform: uppercase;
	font-size: 11px;
}


.btn_outline {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	font-weight: 700;
	line-height:30px;
	height:30px;
	padding:0px 10px;
	overflow:visible;
	-webkit-appearance:none;
	text-transform: uppercase;
	font-size: 11px;
}