@charset "UTF-8";
/* CSS Document */

.btn_normal {
	width:auto;
	background-color:#000;
	color:#FFFFFF;
	line-height:30px;
	height:30px;
	border:0px;
	margin:0px;
	padding:0px 10px;
	overflow:visible;
	border-radius:0px;
	-webkit-appearance:none;
	text-transform: uppercase;
	font-size: 11px;
}

.btn_normal:hover {
	background-color:#e67f96;
}


.btn_transparent {
	width:auto;
	background-color:transparent;
	color:#333;
	line-height:30px;
	height:30px;
	border:0px;
	margin:0px;
	padding:0px 10px;
	overflow:visible;
	border-radius:0px;
	-webkit-appearance:none;
	text-transform: uppercase;
	font-size: 11px;
	border-radius:0px;
}


.btn_outline {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	font-weight: 700;
	line-height:30px;
	height:30px;
	padding:0px 10px;
	overflow:visible;
	-webkit-appearance:none;
	text-transform: uppercase;
	font-size: 11px;
	border-radius:0px;
}

.btn_grid_view {
	background:#FFFFFF url(../imgs/icon_grid.png) right center no-repeat;
	padding-right:30px;
}

.btn_list_view {
	background:#FFFFFF url(../imgs/icon_list.png) right center no-repeat;
	padding-right:30px;
}

.btn_add_new_outfit {
	background:transparent url(../imgs/icon_new.png) center center no-repeat;
	height:30px;
	width: 30px;
	text-indent:-999em;
}

.btn_add_outfit_item_plus {
	height:30px;
	width:30px;
	text-indent:-999em;
	background:#000000 url(../imgs/icon_white_add.png) center center no-repeat;
}


.btn_big {
	height:40px;
	line-height:40px;
	padding:0px 20px;
}



@media screen and (-webkit-min-device-pixel-ratio: 1.3), 
screen and (min--moz-device-pixel-ratio: 1.3), 
screen and (-o-min-device-pixel-ratio: 2 / 1), 
screen and (min-device-pixel-ratio: 1.3), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) {
	.btn_grid_view {
		background:#FFFFFF url(../imgs/icon_grid_x2.png) right center / 21px 11px no-repeat;
	}
	
	.btn_list_view {
		background:#FFFFFF url(../imgs/icon_list_x2.png) right center / 21px 11px no-repeat;
	}
	
	.btn_add_new_outfit {
		background:transparent url(../imgs/icon_new_x2.png) center center / 30px 30px no-repeat;
	}
	
	.btn_add_outfit_item_plus {
		background:#000000 url(../imgs/icon_white_add_x2.png) center center / 14px 14px no-repeat;
	}
}