@charset "UTF-8";
/* CSS Document */

#checkout {}


/* shopping bag  */

#checkout .shop_basket {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	zoom: 1;
	height: 100%;
}

	#checkout .basket_header {
		padding: 10px 60px 10px 10px;
		position: relative;
	}

		#checkout .basket_header .shop_logo {
			width: 100px;
		} 

			#checkout .basket_header .shop_logo img {
				width: 100%;
			} 


	#checkout .basket_header .ship_total {
		margin-top: 2px;
	}

		#checkout .basket_header .ship_total .shipping_fee {
			border-right: 1px solid #ccc;
			padding-right: 20px;
			margin-right: 20px;
			line-height: 30px;
		}

		#checkout .basket_header .ship_total .shop_total {
			line-height: 30px;
		}

	#checkout .basket_header .toggle {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -20px;
	}
	
	#checkout .basket_header .toggle a {
		background: url(../imgs/shop_filter_toggle_closed_black.png) no-repeat center center;
		display: block;
		width: 40px;
		height: 40px;
	}

		#checkout .basket_header .toggle a.basket_open {
			background: url(../imgs/shop_filter_toggle_open_black.png) no-repeat center center;
			display: block;
			width: 40px;
			height: 40px;
		}

	#checkout ul.basket_items {
		border: 0;
	}


#checkout .basket_contents {
	border-top: 1px solid #ccc;
	height: 100%;
}

/* checkout styles */



#checkout .sub_title_container {
	margin: 20px 0;
	position: relative;
}

#checkout .form_container .half_contain {
	width: 50%;
	float: left;
}


	#checkout .form_container .half_contain .form_row {
		padding: 0 25px 0 0;
	}

	#checkout .form_container .half_contain + .half_contain .form_row {
		padding: 0 0 0 25px;
	}


/* shipping address styles */

#shipping_address .sub_title_container h3 {
	padding-right: 190px;
}

	#shipping_address .sub_title_container .chbox_item {
		position: absolute;
		left: 170px;
		top: 2px;
	}

 #shipping_address .form_container {
 	height: 100%;
 }

/* car details styles */


	#expiry {}

		#expiry legend {
			width: 30%;
			position: relative;
			float: left;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 11px;
		}

	
	#cvv {}

		#cvv .form_input {
			position: relative;
			width: 150px;
		}

			#cvv .form_input a {
				position: absolute;
				top: 10px;
				right: -150px;
				text-decoration: none;
				border-bottom: 1px solid;
			}


	.cards {
		padding: 0 50px;
	}


	#pay_now {
		height: 1px;
		background-color: #ccc;
		position: relative;
		margin-top: 40px;
	}
	
		#pay_now input {
			font-size: 14px;
			position: absolute;
			width: 140px;
			top: -18px;
			left: 50%;
			margin-left: -70px;
		}



