@charset "UTF-8";
/* CSS Document */

@import url("modals.css") all;
@import url("buttons.css") all;
@import url("forms.css") all;
@import url("responsive.css") all;

@import url("wishlist.css") all;
@import url("product.css") all;

html {
  background-color: #000;
}

body {
	padding-top: 50px; 
}

/* ==========================================================================
   Navigation Classes
   ========================================================================== */

    /* nav */

    .nav {
    	position: fixed;
    	top: 0;
    	left: 0;
    	right: 0;
    	z-index: 50;
    }

      .nav:after {
        content: '';
        background-image: url(../imgs/shadow.png);
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
      }

    .brand h1 {
    	margin: 0;
      position: relative;
    }

      .brand h1 a span {
        display: block;
        text-indent: -9999em;
        position: absolute;
        top: 0;
        height: 1px;
        width: 1px;
      }

    .user {
   		background: #fff url(../imgs/icon_user.png) 100% 15px  no-repeat \9;
   		background: #fff url(../imgs/icon_user_x2.png) 100% 15px / 30px 20px no-repeat;
   		padding-right: 40px !important;
    }

    .categories {
   		background: #fff url(../imgs/icon_cat_toggle.png) center right no-repeat \9;
   		background: #fff url(../imgs/icon_cat_toggle_x2.png) center right / 28px 12px no-repeat;
   		padding-right: 40px !important;
    }

    .cart {
   		background: #fff url(../imgs/icon_bag.png) 50% 15px  no-repeat \9;
   		background: #fff url(../imgs/icon_bag_x2.png) 50% 15px / 20px 20px no-repeat;
   		text-indent: -9999em;
   		width: 30px;
    }

    .wishlist {
   		background: #fff url(../imgs/icon_fav.png) 50% 15px no-repeat \9;
   		background: #fff url(../imgs/icon_fav_x2.png) 50% 15px / 20px 20px no-repeat;
   		text-indent: -9999em;
   		width: 30px;
    }

    .nav .nav_search {
    	position: absolute;
    	top: 8px;
    	left: 240px;
    	margin-right: 71px;
    }

    	.nav .nav_search input {
    		height: 34px;
			line-height: 34px;
			margin: 0;
			padding: 5px 5px;
			border: 1px solid #ccc;
			width: 150px;
			box-sizing: border-box;
			border-radius:0px;
			-webkit-appearance:none;
    	}

    	.nav .nav_search button {
    		height: 34px;
    		line-height: 34px;
    		background-color: transparent;
    		padding: 0;
    		position: absolute;
    		right: -71px;
    		top: 0;
    	}

    		.nav .nav_search button span {
    			width: 34px;
    			height: 34px;
    			background-color: #000;
    			display: inline-block;
    		}

    		.nav .nav_search button span.sh {
    			margin-right: 1px;
    		} 

    .nav_list {
    	position: relative;
    	height: 50px;
    }

   	/* nav drop panels */

    .dd_link {
      position: relative;
    }

      .dd_link .basket_qty {
        position: absolute;
        top: -13px;
        right: 7px;
        display: block;
        z-index: 30;
        text-indent: 0;
        font-size: 9px;
      }


   	.dd_panel {
   		position: absolute;
   		top: 50px;
   		width: 330px;
   		background-color: #fff;
   		right: 0;
   		border: 1px solid #ccc;
   	}

   		.dd_panel .dd_panel_title {
   			padding: 15px 20px;
   			border-bottom: 1px solid #ccc;
   		}

   			.dd_panel .dd_panel_title span.title,
   			.dd_panel .dd_panel_title span.cost {
   				font-weight: 700;
   			}

   		.dd_panel .dd_panel_body {
   			padding: 20px;
   			position: relative;
   		}

   		.dd_panel .dd_panel_foot {
   			padding: 15px;
   			border-top: 1px solid #ccc;
   			text-align: center;
   		}
   	
   	/* user pop over */

   	#user_options.dd_panel {display: none;}

   		#user_options.dd_panel ul {
   			margin: 25px 120px 0 0;
   		}

   			#user_options.dd_panel ul li {
   				border-bottom: 1px solid #ccc;
   				height: 24px;
   				line-height: 24px;
   				display: block;
   				float: none; 
   			}  

   				#user_options.dd_panel ul li a {
   					display: block;
   					height: 24px;
   					line-height: 24px;
   				}

   			#user_options.dd_panel div.user_img {
   				position: absolute;
   				right: 20px;
   				top: 20px;
   				width: 100px;
   				height: 100px;
   			}

   				#user_options.dd_panel div.user_img img {
   					width: 100%;
   				}
   	
   	/* shopping cart & wishlist pop over */

   	.basket.dd_panel {display: none;}

   		.basket.dd_panel .dd_panel_body {}

   			.basket.dd_panel .dd_panel_body ul {
   				margin: 0;
   			} 

   				.basket.dd_panel .dd_panel_body ul li {
   					float: none;
   					padding-bottom: 20px;
   				}

   				.basket.dd_panel .dd_panel_body > ul > li + li {
   					border-top: 1px solid #ccc;
   					padding-top: 20px;
   					padding-bottom: 0;
   				}

   				.basket.dd_panel .dd_panel_body ul li div.product {
   					position: relative;
   				} 

   					.basket.dd_panel .dd_panel_body ul li div.product .prod_img {
   						width: 100px;
   						height: 150px;
   						background-color: #fff;
   						float: left;
   					}

   						.basket.dd_panel .dd_panel_body ul li div.product .prod_img img {
   							width: 100%;
   						}
   					
   					.basket.dd_panel .dd_panel_body ul li div.product .prod_details {
   						float: left;
   						margin-left: 20px;
   					}

   						.basket.dd_panel .dd_panel_body ul li div.product .prod_details ul {}

   							.basket.dd_panel .dd_panel_body ul li div.product .prod_details ul li {
   								padding: 4px 0;
   							}

   							.basket.dd_panel .dd_panel_body ul li div.product .prod_details ul li.price {
   								font-weight: 700;
   							}

   							.basket.dd_panel .dd_panel_body ul li div.product .prod_details .prod_delete a {
   								display: block;
   								text-indent: -99999em;
   								background: url(../imgs/icon_delete_product.png) no-repeat;
   								position: absolute;
   								right: 0;
   								top: 0;
   								width: 8px;
   								height: 8px;
   								padding: 0;
   							}


    /* mega drop */

    .categories.active,
    .categories.active:hover  {
    	color: #fff;
    	background: #000 url(../imgs/icon_cat_toggle_white.png) center right no-repeat \9;
    	background: #000 url(../imgs/icon_cat_toggle_white_x2.png) center right / 28px 12px no-repeat;
      border-bottom: 1px solid #000;
    }

    .mega_drop {
		  background-color: #000000;
   		box-sizing: border-box;	
		  color: #ffffff;
		  display: block;
		  height: auto;
		  left: 0;
		  position: relative;
		  right: 0;
		  top: 0px;
      border-bottom: 1px solid #252525;
    }

   		.mega_drop .page_container_inner {
   			height: auto;
   		}


    .mega_drop button.close_modal {
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	border: none;
    	width: 20px;
    	height: 20px;
    	background: transparent url(../imgs/icon_close_modal.png) center right no-repeat \9;
    	background: transparent url(../imgs/icon_close_modal_x2.png) center right / 20px 20px no-repeat;
    	display: block;
    	text-indent: -9999em;
    }

    .mega_drop .title {
    	text-align: center;
    	color: #E67F96;
    }

    	.mega_drop .list_contain {
    		margin-bottom: 40px;
    	}

    	.mega_drop ul {
    		margin: 0;
    	}

    	.mega_drop .cat_list {
    		float: left;
    		width: 134px;
    		font-size: 12px;
    	}

    		.mega_drop .cat_list .cat_title {
    			font-size: 14px;
    			color: #fff;
    		}

    		.mega_drop .cat_list ul li a {
    			color: #fff;
    			text-decoration: none;
    			display: block;
    			height: 20px;
    			line-height: 20px;
    		}

    		.mega_drop .cat_list ul li a:hover {
    			text-decoration: underline;
    		}

   	.mega_drop ul.shop_list {}

   		.mega_drop ul.shop_list li {
   			display: inline-block;
			width: 95px;
			height: 30px;
			margin-right: 36px;
   		}

   			.mega_drop ul.shop_list li img {
   				width: 100%;
   			} 

/* ==========================================================================
   Homepage Classes
   ========================================================================== */

    /* hero */

    .hero {
    	text-align: center;
    	height: 420px;
    	
    }

    	 .hero .page_container_inner {
    	 	background: #79c3ce url(../imgs/hero_imgs/hero_blue.jpg) center right no-repeat;
    	 	height: 380px;
    	 }

    	.hero .main_search {
    		margin-top: 150px;
    		text-align: left;
    		width: 492px;
    		position: relative;
    		left: 50%;
    		margin-left: -246px;
    	}

    		.hero .main_search input {
    			height: 45px;
    			line-height: 45px;
    			margin: 0;
    			padding: 5px 10px;
    			border: 0;
    			width: 400px;
    			box-sizing: border-box;
				border-radius:0px;
				-webkit-appearance:none;
    		}

    		.hero .main_search button {
    			height: 45px;
    			line-height: 45px;
    			background: transparent;
    			padding: 0;
    			width: 92px;
    			position: absolute;
    		}

    			.hero .main_search button span.sh {
    				background-image: url(../imgs/sh.jpg);
    				background-repeat: no-repeat;
    				background-position: 0 0;
    				width: 45px;
    				height: 45px;
    				display: block;
    				text-indent: -99999em;
    				position: absolute;
    				left: 0;
			        z-index: 20;
			        top: 0;
			        transition: all 0.3s ease-in-out 0s;
					-webkit-transition: all 0.3s ease-in-out 0s;
					-moz-transition: all 0.3s ease-in-out 0s;
					-o-transition: all 0.3s ease-in-out 0s;
					-ms-transition: all 0.3s ease-in-out 0s;
    			}

    			

    			.hero .main_search button span.op {
    				background-image: url(../imgs/op.jpg);
    				width: 45px;
    				height: 45px;
    				display: block;
    				text-indent: -99999em;
    				position: absolute;
    				right: 0;
    				z-index: 10;
    				top: 0;
    				transition: all 0.3s ease-in-out 0s;
					  -webkit-transition: all 0.3s ease-in-out 0s;
					  -moz-transition: all 0.3s ease-in-out 0s;
					  -o-transition: all 0.3s ease-in-out 0s;
					  -ms-transition: all 0.3s ease-in-out 0s;
    			}

    			.sh.active {
    				left: 47px !important;
    			}

    			.op.active {
    				right: 47px !important;
    			}

    	.hero .tagline {
    		color: #000;
    		font-size: 36px;
    		font-family: 'Lato', sans-serif;
    		font-weight: 300;
    	}


    /* shop list */
   
    .shop_list {
    	background-color: #000;
    	padding: 10px 0;
    	overflow: hidden;
    	position: relative;
    }

   		.shop_list ul {
   			margin: 0;
   		}

   			.shop_list ul li {
   				display: inline-block;
   				width: 95px;
   				height: 30px;
   				margin-right: 36px;
   			}

   				.shop_list ul li a {
   					display: block;
   				}

	   				.shop_list ul li a img {
	   					width: 100%;
	   				}


   		.shop_list ul.top_list {

   		}

   		.shop_list ul.all_shops {
   			display: none;
   		}


    .shop_list_toggle {
    	position: absolute;
    	display: block;
    	width: 20px;
    	height: 20px;
    	right: 0;
    	top: 15px;
    }

    	.shop_list_toggle a {
    		display: block;
    		width: 20px;
    		height: 20px;
    		background: url(../imgs/shop_list_toggle.png) center center no-repeat \9;
    		background: url(../imgs/shop_list_toggle_x2.png) center center / 20px 20px no-repeat;
    		display: block;
    	}

    	.open {
    		background: url(../imgs/shop_list_toggle_close.png) center center no-repeat \9 !important;
    		background: url(../imgs/shop_list_toggle_close_x2.png) center center / 20px 20px no-repeat !important;
    	}

     /* grid */
   	
   	.home_grid {
   		margin: 0 -10px;
   		display: block;
   	}

   		.home_grid div {
   			float: left;
   		}

   	.block {
   		float: left;
   		display: block;
   		margin: 0px;
   		padding: 0px;
   		padding: 10px;
   		height: 330px;
   	}

   	.inner_div {
   		background-color: #ccc;
   		height: 100%;
   		box-sizing: border-box;
   		width: 100%;
   		position: relative;
   	}


   		.inner_div  img {
   			width: 100%;
   		}

   		.inner_div .prod_details {
   			background-image: url(../imgs/prod_details_overlay.png);
   			height: 60px;
   			position: absolute;
   			left: 0;
   			right: 0;
   			bottom: 0;
   		}	

   			.inner_div .prod_details .brand {
   				position: absolute;
   				left: 10px;
   				top: 50%;
   				margin-top: -14px;
   				height: 28px;
   				width: 80px;
   			}

   				.inner_div .prod_details .brand img {
   					width: 100%;
   				}

   			.inner_div .prod_details .price {
   				font-size: 24px;
   				font-weight: 300;
   				position: absolute;
   				right: 10px;
   				top: 50%;
   				margin-top: -14px;
   			}


   	.w1 {
   		width: 220px;
   	}

   	.w2 {
   		width: 460px;
   	}


   	div.more_link {
   		height: 1px;
   		background-color: #000;
   		position: relative;
   		margin: 40px 0;
   		float: none;
   	}

   		div.more_link button {
   			position: absolute;
   			left: 50%;
   			margin-left: -28px;
   			top: -15px;
   			background-color: #fff;
   			border: 1px solid #000;
   			color: #000;
   			font-weight: 700;
   		}

/* ==========================================================================
  Results Classes
   ========================================================================== */

  .sidebar {
      width: 220px;
      float: left;
      padding-right:20px;
  }

  .main .sidebar {
    margin-top: -20px;
  }

  .drawer_open {
    display: block;
  }

    .sidebar .filter {
      border-bottom: 1px solid #ccc;
    }

      .sidebar .filter .filter_title {
        font-size: 14px;
        position: relative;
      }

        .sidebar .filter .filter_title a {
          padding: 15px 0;
          text-decoration: none;
          display: block;
        }

        .sidebar .filter .filter_title .toggle {
          background: url(../imgs/filter_toggle.png) center center no-repeat \9;
          background: url(../imgs/filter_toggle_x2.png) center center / 4px 8px no-repeat;
          width: 4px;
          height: 8px;
          display: block;
          position: absolute;
          right: 10px;
          top: 20px;
          transition: all 0.3s ease-in-out 0s;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
        }

        .rotate {
          -moz-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
        }

      .sidebar .filter .filter_body {
        padding-bottom: 20px;
        margin-bottom: 0;
      }

        .sidebar .filter .filter_body ul {margin: 0;}

          .sidebar .filter .filter_body ul li {
            padding: 0;
            line-height: 14px;
            margin: 0;
          }

            .sidebar .filter .filter_body ul li a {
              display: block;
              text-decoration: none;
            }

      .sidebar .filter .filter_slider {
        padding: 15px 0;
        position: relative;
      }

        .sidebar .filter .filter_slider .slider_container {
          height: 40px;
          padding: 10px;
          position: relative;
        }

        .sidebar .filter .filter_slider .range_amount_min {
          position: absolute;
          left: 2px;
          bottom: 15px;
          font-size: 11px;
        }

        .sidebar .filter .filter_slider .range_amount_max {
          position:  absolute;
          right: 2px;
          bottom: 15px;
          font-size: 11px;
        }

          .sidebar .filter .filter_slider .range_amount_max input {
            text-align: right;
          }


        .sidebar .filter .filter_slider .ui-slider {
          background: #ccc;
          height: 4px;
          border-radius: 0;
          border: none;
        }
        
        .sidebar .filter .filter_slider .ui-slider-handle {
          background: url(../imgs/slider_handle.png) no-repeat;
          border: 0;
          width: 12px; 
          height: 16px;
          border-radius: 0;
        }


        .sidebar .filter .filter_slider .ui-slider-range {
          background: #707070;
        }

  .main_content {
     float: left;
     padding-left: 20px;
     width: 680px;
  }

  .sidebar .filter .filter_body ul.nested_list {
    margin: 0 0 5px 10px;
  }

  .sidebar .filter .filter_body .unit_size_selector .radio_item {
    width: 50%;
    float: left;
    margin-top: 10px;
  }

  .sidebar .filter .filter_body .size_selector .form_label,
  .sidebar .filter .filter_body .size_selector .form_input {
    width: 50%;
    margin-top: 10px;
  }

  .sidebar .filter_slider .form_row  {margin-bottom: 0;}
  .sidebar .filter_slider .form_row .form_label,
  .sidebar .filter_slider .form_row .form_input {
     width: 50%;
  }

  /* filter */

  #opsh_styles {}

    #opsh_styles .filter_title {
      padding: 15px 0;
    }

    #opsh_styles .form_row ul {
      margin: 0;
    }

  /* top bar filter */

  .top_bar {
    padding: 10px 0;
    overflow: hidden;
    cursor: pointer;
  }

    .top_bar #shop_filter {
      border-bottom: 0px;
      color: #fff;
    }

      .top_bar #shop_filter .filter_title {
        padding: 10px 0;
      }

        .top_bar #shop_filter .filter_title .shop_filter_toggle {
          background: url(../imgs/shop_filter_toggle_closed.png) center center no-repeat;
          /*background: url(../imgs/shop_filter_toggle_closed_x2.png)center center / 19px 19px no-repeat;*/
          display: block;
          width: 19px;
          height: 19px;
          position: absolute;
          right: 0;
          border: 0;
          top: 8px;
        }

        .top_bar #shop_filter .filter_title .shop_filter_toggle.shop_filter_open {
          background: url(../imgs/shop_filter_toggle_open.png) center center no-repeat;
        }

      .top_bar #shop_filter .filter_body {
        margin-top: 20px;
      }

  .top_bar .main_content {
    width: 700px;
    border-left: 1px solid #333;
    box-sizing: border-box;
    overflow: hidden;
  }

    .top_bar .main_content .filter_list {
      padding: 0;
    }

      .top_bar .main_content .filter_list .shop_filter_remove {
        background: url(../imgs/shop_filter_delete.png) center center no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -6px;
        right: -12px;
      }

    .top_bar .main_content .shop_list + .shop_list {
      border-top: 1px solid #333;
      margin-top: 20px;
    }

    .top_bar .main_content .shop_list ul li {
      width: 80px;
      margin: 5px 20px 0 0;
      position: relative;
    }

    .top_bar .main_content .shop_list ul li a {
      width: 80px;
    }


    .top_bar .page_container_inner.filter_open {
      height: 100%;
      overflow: visible;
    }

    .top_bar .page_container_inner.filter_closed {
      height: 35px;
      overflow: hidden;
      display: block !important;
    }
  /* filter list */

  .filter_list_container {
    margin-right: 150px;
    position: relative;
  }

    .filter_list_container .sorts {
      position: absolute;
      right: -150px;
      top: 0;
    }

    .filter_list_container .form_label {
      float: left;
      margin-top: 8px;
      margin-right: 6px;
      text-transform: uppercase;
      font-size: 11px;
    }

    .filter_list_container .form_input {
      width: 100px;
      float: left;
    }

  ul.filter_list {
    margin: 0 0 20px 0;
  }

    ul.filter_list li {
      display: inline-block;
      padding: 2px 24px 2px 5px;
      margin: 2px 1px 2px 0;
      line-height: 20px;
      position: relative;
      background-color: #ccc;
    }

      ul.filter_list li a {
        background: url(../imgs/filter_delete.png) center center no-repeat;
        position: absolute;
        text-indent: -9999em;
        display: block;
        width: 20px;
        height: 20px;
        right: 2px;
        top: 2px;
      }

      ul.filter_list li.clear {
        background: transparent;
      }

        ul.filter_list li.clear a {
          display: block;
          background: none;
          text-indent: 0;
          text-decoration: none;
          position: relative;
        }

  /* controls */

  .controls {
    margin-bottom: 20px;
  }
  .controls .pagination ul,
  .controls .pagination span {
    float: left;
  }

    .controls .pagination ul li {
      display: inline-block;
      margin: 0;
    } 

      .controls .pagination ul li a {
        text-decoration: none;
        color: #666;
      }

      .controls .pagination ul li.selected a {
        text-decoration: underline;
        font-weight: 700;
        color: #000;
      }

    /* product */

    .results_grid {
      margin: 0 -20px;
    }

    .list_grid {
      margin: 0 -10px;
    }

      ul.product_list {margin: 0;}

        ul.product_list li.product_comp {
          float: left;
          margin: 20px;
          position: relative;
          display: table;
        }
		
		ul.product_list li.product_add {
          float: left;
          margin: 10px;
          position: relative;
          display: table;
        }

        .list_grid ul.product_list li.product_comp {
          margin: 20px 10px;
        }

        ul.product_list li.product_comp.standard {
          width: 140px;
        }
		
		 ul.product_list li.product_comp.small {
          width: 100px;
		  margin:10px;
        }

          ul.product_list li.product_comp .product_comp_inner {}

          ul.product_list li.product_comp a {
              text-decoration: none;
              display: block;
            }

          ul.product_list li.product_comp a:hover {
          }

            ul.product_list li.product_comp.standard a .product_comp_img {
              width: 140px;
              height: 210px;
              position: relative;
              display: table-row;
            }

              ul.product_list li.product_comp.standard a .product_comp_img_inner {
                display: table-cell;
                vertical-align: middle;
                position: relative;
              }
			  
			   ul.product_list li.product_comp.small a .product_comp_img_inner {
                display: table-cell;
                vertical-align: middle;
                position: relative;
              }

              ul.product_list li.product_comp a .product_comp_img img {
                width: 100%;
              }

              ul.product_list li.product_comp a .product_comp_img .product_shop {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 35px;
                background: url(../imgs/prod_details_overlay.png);
                text-align: center;
              }

                ul.product_list li.product_comp a .product_comp_img .product_shop img {
                  width: 76px;
                  position: absolute;
                  top: 50%;
                  margin-top: -13px;
                  left: 50%;
                  margin-left: -38px;
                }

              ul.product_list li.product_comp .add_to_basket {
                position: absolute;
                left: 0px;
                right: 0;
                top: 175px;
                height: 35px;
                display: none;
                transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
              }
			  
			   ul.product_list li.product_comp.small .add_to_basket {
                position: absolute;
                left: 0px;
                right: 0;
                top: 115px;
                height: 35px;
                display: none;
                transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
              }
              
              ul.product_list li.product_comp .add_to_basket.hover,
              ul.product_list li.product_comp .wishlist_icon.hover {
                display: block;
              }


              ul.product_list li.product_comp .add_to_basket button {
                background-color: #000;
                padding: 6px 10px;
                color: #ccc;
                bottom: 40px;
                border: 0;
                font-weight: 300;
                width: 100%;
                height: 35px;
              }

              ul.product_list li.product_comp .add_to_basket button:hover {
                color: #fff;
                background-color: #242424;  
              }

            ul.product_list li.product_comp a .product_comp_details {
                position: relative;
                margin-top: 10px;
              }

              ul.product_list li.product_comp a .product_comp_details .product_name {
                /*
				line-height: 1.6em;
                margin-bottom: 5px;
				*/
				font-size: 0.95em;
				line-height: 15px;
				margin-bottom: 5px;
				padding: 10px 0 0;
              }

              ul.product_list li.product_comp a .product_comp_details .product_amount {font-weight: 700; line-height:20px; /* to compensate for Wishlist Icon */}

              ul.product_list li.product_comp .wishlist_icon {
                width: 20px;
                height: 20px;
                position: absolute;
                bottom: -3px;
                right: 0;
                display: none;
                transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
              }
              
              ul.product_list li.product_comp .wishlist_icon button {
                background: url(../imgs/icon_add_wishlist.png) center center no-repeat;
                width: 20px;
                height: 20px;
                display: block;
                text-indent: -9999em;
                border: 0
              }

              ul.product_list li.product_comp .wishlist_icon button:hover {
                background: url(../imgs/icon_add_wishlist_hover.png) center center no-repeat;
              }




/* ==========================================================================
   Footer Classes
   ========================================================================== */

   	.footer_upper ul,
   	.footer_lower ul {
   		margin: 0;
   		padding: 0;
   	}

   	.footer_upper ul li,
   	.footer_lower ul li {
   		float: left;
   	}

   	.footer_upper ul li a,
   	.footer_lower ul li a {
   		color: #fff;
   		text-decoration: none;
   	}

   	.footer_upper {
   		background-color: #333;
   		padding: 20px 0;
   	}

   			.footer_upper ul.social_links li {
   				width: 48px;
   				height: 35px;
   				border-left: 1px solid #666;
   			}

          .footer_upper ul.social_links li a {
            height: 35px;
          }

   			.footer_upper ul.social_links .social_icon a {
   				background: url(../imgs/social_sprite.png) center center no-repeat \9;
   				background: url(../imgs/social_sprite_x2.png) center center / 270px 88px no-repeat;

   			}

   				.footer_upper ul.social_links li a {
   					display: block;
   					text-indent: -9999em;
   				}

   				.footer_upper ul.social_links li.blog {
   					border-right: 1px solid #666;
   				}

   				.footer_upper ul.social_links .social_icon.facebook a {background-position: -175px -47px;}
   				.footer_upper ul.social_links .social_icon.twitter a {background-position: -55px -47px}
   				.footer_upper ul.social_links .social_icon.instagram a {background-position: -116px -47px}
   				.footer_upper ul.social_links .social_icon.pinterest a {background-position: 1px -47px}
   				.footer_upper ul.social_links .social_icon.blog a {background-position: -234px -47px}

   			.footer_upper ul.footer_list {
   				margin-top: 10px;
   			}
   			
   			.footer_upper ul.footer_list li {
   				margin-left: 8px;
   				padding-right: 8px;
   				border-right: 1px solid #666;
   				color: #fff;
   			}

   				.footer_upper ul.footer_list li.currency {
   					border-right: none;
   					padding-right: 0;
   				}
   				
   				.footer_upper ul.footer_list li.currency > div{
   					display: block;
   					position: relative;
   					margin-right: 75px;
   				}

   					.footer_upper ul.footer_list li.currency > div div.form_input {
   						position: absolute;
   						right: -77px;
   						top: -7px;
   						width: 65px;
   					}


   	.footer_lower {
   		background-color: #000;
   		padding: 20px 0;
   	}


   		.footer_lower ul.footer_list {
   			text-align: center;
   			margin: 0 auto 20px auto;
   			width: 780px;
   			font-size: 11px;
   		}

   			.footer_lower ul.footer_list li {
   				margin-right: 10px;
   				padding-right: 10px;
   				border-right: 1px solid #666;
   			}

   			.footer_lower ul.footer_list li.last {
   				padding-right: 0;
   				border-right: none;
   				margin-right: 0;
   			}

   		.footer_lower p {
   			font-size: 10px;
   			color: #fff;
   		}

   			.footer_lower p a {
   				color: #fff;
   				font-weight: bold;
   			}


.sub_title_container {
	background:url(../imgs/icon_grey_dot.jpg) left center repeat-x;
}

	.sub_title_container h2, 
	.sub_title_container h3 {
		background-color:#FFFFFF;
		margin:0px;
		padding:5px 10px 5px 0px;
		line-height:20px;
		font-size:1.65em;
	}
	
	.sub_title_container .title_actions {
		background-color:#FFFFFF;
		padding-left:10px;
	}
