@charset "UTF-8";
/* CSS Document */

#order_history {}

	

	#order_history table {
		width: 100%;
	}

		#order_history table thead {}

			#order_history table thead tr {
				border-bottom: 1px solid #ccc;
			}

				#order_history table thead tr th {
					font-weight: bold;
					text-transform: uppercase;
					text-align: left;
					padding: 10px;
				}



		#order_history table tbody {}

				#order_history table tbody tr {}

				#order_history table tbody tr.odd {
					background-color: #ccc;
				}

					#order_history table tbody tr td {
						padding: 10px;
					}

						#order_history table tbody tr td a {
							font-weight: bold;
							text-transform: uppercase;
							text-decoration: none;
							border-bottom: 1px solid;
						}