.standard_table
{
}

.standard_table table
{
	width: 100%;
}

.standard_table table thead
{
}

.standard_table table thead tr
{
	border-bottom: 1px solid #ccc;
}

.standard_table table thead tr th
{
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	padding: 10px;
}

.standard_table table tbody
{
}

.standard_table table tbody tr
{
}

.standard_table table tbody tr td
{
	padding: 10px;
	min-height: 50px;
}

.standard_table table tbody tr td a
{
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid;
}

.standard_table #view_more_link
{
	margin-top: 20px;
	text-align: right;
}

.standard_table #view_more_link a
{
	text-decoration: none;
	border-bottom: 1px solid;
}

