@charset "UTF-8";
/* CSS Document */

#shop_filter_v2 {}

	#shop_filter_v2 .shop_list {
		padding: 0;
	}

		#shop_filter_v2 .shop_list.sub_filter_list ul li {
			padding: 0;
		}

			#shop_filter_v2 .shop_list.sub_filter_list ul li a {
				padding: 3px;
				border: 1px solid transparent;
			}
	 
			#shop_filter_v2 .shop_list ul li a.selected {
				border: 1px solid #fff;
			}