*
{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}

html, body, form
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
	color: #222222;
}

form.k-filter-menu
{
	height: auto;
	overflow: visible;
}

a
{
	color: #231f20;
	text-decoration: underline;
}
a:hover
{
	color: #231f20;
	text-decoration: none;
}

a img
{
	border: none;
}

/* admin area */

h1
{
	margin: 10px;
	padding: 0px;
	color: #c0c0c0;
}

textarea, textarea.k-textbox
{
	width: 400px;
	height: 200px;
	resize: none;
	color: #fff;
}

input[readonly='readonly'], input[readonly='readonly']:hover, textarea[readonly='readonly'], textarea[readonly='readonly']:hover, .readonly
{
	background-color: #333333;
	background-image: none;
	filter: alpha(opacity=75);
	opacity: 0.75;
}

.height100
{
	overflow: hidden;
}

.table100 .autoheight > td
{
	width: 100%;
}

.scroller
{
	height: 100%;
	overflow: auto;
}

.fields
{
	border-spacing: 0px;
	border-collapse: collapse;
	margin: auto;
}

.fields .row
{
}

.mandatory-field
{
	color: #ff0000;
}

.fields td
{
	padding: 4px 10px 4px 10px;
}

.fields td.field-label
{
	vertical-align: top;
	text-align: left !important;
	max-width: 400px;
	padding-top: 12px;
}

.fields td.field-editor
{
}

.field-validation-valid
{
	visibility: hidden;
}

.field-validation-error
{
	vertical-align: top;
	color: #FFFFFF;
	padding: 5px 5px 5px 30px;
	clear: both;
	line-height: 20px;
	margin-top: 5px;
	background: #CC5252 url(../images/icon_alert.png) 7px 7px no-repeat;
	display: block;
}

.input-validation-error
{
	border: 2px solid #CC5252 !important;
}

.errors-list
{
	border-left: none;
	border-right: none;
}

.edit-user-address
{
	font-size: 20px;
	color: #404040;
	font-weight: bold;
}

.validation-summary
{
	margin: auto;
	width: 400px;
}

.validation-summary .scroller
{
	max-height: 110px;
}

.validation-summary ul
{
	margin: 10px;
}

.validation-summary li
{
	color: #ffffff;
	background: #CC5252 url(../images/icon_alert.png) 7px 7px no-repeat;
	padding: 5px 5px 5px 30px;
	line-height: 20px;
}

.validation-summary b
{
	text-align: center;
	color: #CC5252;
	display: block;
	margin: 10px;
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

a.admin-link, a.admin-link:visited
{
	color: #ffffff;
}

a.admin-link:hover, a.admin-link:active
{
	color: #ff0000;
}

.message
{
	background-color: #000066;
	color: #ffffff;
	padding: 10px;
	margin: 10px 0px;
}

.warning-message
{
	background-color: #E0E000;
	color: #000000;
	padding: 10px;
	margin: 10px 0px;
}

.error-message
{
	background-color: #800000;
	color: #FFFFFF;
	padding: 10px;
	margin: 10px 0px;
}

/* kendo overrides */

.k-numerictextbox
{
	width: 200px !important;
}

.k-datetimepicker
{
	width: 200px;
}

.k-timepicker
{
	width: 200px;
}

.k-datepicker
{
	width: 200px;
}

.k-textbox
{
	width: 400px;
	color: #ffffff;
}

.half_contain .k-textbox
{
	width: 100%;
}

.k-dropdown
{
	width: 400px;
}

.half_contain .k-dropdown
{
	width: 100%;
}

.k-combobox
{
	width: 400px;
}

.k-tabstrip .k-content
{
	padding: 0px;
}

.k-button
{
	min-width: 80px;
}

.k-button-bare
{
	min-width: 0px !important;
}
.k-button-small
{
	min-width: 50px;
}

.k-splitter .k-splitbar-horizontal
{
	width: 11px;
}

.k-splitbar-horizontal .k-resize-handle
{
	left: 3px;
}

.k-file
{
	width: 300px;
}

.k-editor-toolbar .k-dropdown
{
	width: 150px;
}

.k-state-disabled
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	color: #808080 !important;
}

.k-state-disabled:hover
{
	background-color: transparent !important;
}

.k-loading-mask, .k-loading-image, .k-loading-text
{
	position: fixed;
}

/* user area */

/*
.cancel-address
{
	padding: 5px;
	background-color: #f38892;
}

.save-address
{
	padding: 5px;
	background-color: #fff100;
}

.error-shipping
{
	text-align: center;
	padding: 15px;
	background-color: #fff100;
	font-size: large;
}

.error-shipping a
{
	color: #cf0000;
	text-decoration: underline;
}

.error-shipping a:hover
{
	color: #cf0000;
	text-decoration: none;
}
*/
/*
.admin-shopping-cart-item
{
	width: 1100px;
	padding: 0px !important;
}

.admin-shopping-cart-item .retailer-name
{
	display: block;
	font-size: large;
	margin: 0px 0px 10px 0px;
}

.admin-shopping-cart-item .details
{
	table-layout: fixed;
}

.admin-shopping-cart-item .details td, .admin-shopping-cart-item .details th
{
	border: 1px solid #cccccc;
	padding: 10px;
}

.admin-shopping-cart-item table
{
	width: 100%;
}

.admin-shopping-cart-item .details .name
{
}

.admin-shopping-cart-item .details td.price
{
	text-align: right;
	width: 100px;
}

.admin-shopping-cart-item .details th.price
{
	width: 80px;
}

.admin-shopping-cart-item .details .purchase
{
	width: 350px;
	text-align: center;
}

.admin-shopping-cart-item .details .return
{
	width: 250px;
	text-align: center;
}

.admin-shopping-cart-item .details .return .requested
{
	color: blue;
}

.admin-shopping-cart-item .details .return .accepted
{
	color: Green;
}

.admin-shopping-cart-item .details .return .denied
{
	color: Red;
}

.admin-shopping-cart-item .details .return .complete
{
	color: Gray;
}

.admin-shopping-cart-item .details .return .non-returnable
{
	color: Gray;
}

.admin-shopping-cart-item .shipping
{
	margin: 20px 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.admin-shopping-cart-item .shipping .name
{
	padding: 5px 0px;
}

.admin-shopping-cart-item .shipping .name .retailer
{
	font-size: large;
}

.admin-shopping-cart-item .shipping .name .pp
{
	font-size: small;
}

.admin-shopping-cart-item .shipping .price
{
	padding: 5px 0px;
	text-align: right;
}

.admin-shopping-cart-vouchers
{
	width: 1100px;
}

.admin-shopping-cart-vouchers td, .admin-shopping-cart-vouchers th
{
	border: 1px solid #ffffff;
	padding: 10px;
}
*/
/*
.stripe-card-input
{
	margin-bottom: 20px;
}

.stripe-card-input td
{
	vertical-align: top;
}

.stripe-card-input th
{
	vertical-align: top;
	text-align: left;
}

.stripe-card-input td.button
{
	text-align: center;
}

#payment-errors
{
	padding: 10px;
	background-color: Yellow;
	color: Red;
	font-weight: bold;
	text-align: center;
}
*/
/*
.generic-article
{
	padding-top: 40px;
	padding-left: 230px;
	padding-right: 230px;
	padding-bottom: 40px;
	background-color: #F0F0F0;
}

.generic-article h1
{
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #333333;
}

.generic-article h2
{
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #666666;
}

.generic-article p
{
	color: #666666;
	font-size: 16px;
	line-height: 24px;
	padding-top: 8px;
}
*/