@charset "UTF-8";
/* CSS Document */

.page_title {
	color:#FFFFFF;
	margin:0px;
	line-height:25px;
	font-size:1.65em; /* 20px */
	padding:10px 0px;
}


.follow_social_links {}

	.follow_social_links>ul {
		float:right;
		color:#FFFFFF;
		margin:0px;
		padding:0px;
		list-style:none;
	}
	
		.follow_social_links>ul>li {
			float:left;
			line-height:24px;
			margin-left:8px;
		}
		
			.follow_social_links>ul>li>a {
				color:#FFFFFF;
				text-decoration:none;
				height:24px;
				width:24px;
				text-indent:-999em;
				display:block;
				background:#FFFFFF url(../imgs/icon_sprite_social_share.png) 0px 0px no-repeat;
			}
			
			.follow_social_links>ul>li>a.pinterest 	{ background-position: 0px 0px;}
			.follow_social_links>ul>li>a.twitter 	{ background-position: 0px -24px;}
			.follow_social_links>ul>li>a.instagram 	{ background-position: 0px -48px;}
			.follow_social_links>ul>li>a.facebook 	{ background-position: 0px -72px;}
			
			
			
/**
* Carousel with image and text (horizontal)
**/
#wishlist_carousel {
	width: auto;
	height: auto;
}
#wishlist_carousel .touchcarousel-item {
	margin:20px 8px;
}
			
.grid_layout {
	left:0px !important;
}
			
@media screen and (-webkit-min-device-pixel-ratio: 1.3), 
screen and (min--moz-device-pixel-ratio: 1.3), 
screen and (-o-min-device-pixel-ratio: 2 / 1), 
screen and (min-device-pixel-ratio: 1.3), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) {
	.follow_social_links>ul>li>a {
		background:#FFFFFF url(../imgs/icon_sprite_social_share_x2.png) 0px 0px / 48px 96px no-repeat;
	}
}












.outfit_container {}

	.outfit_container>ul {
		margin:0px;
		padding:0px;
		float:left;
		width:960px;
		margin:0px -10px;
	}
	
		.outfit_container>ul>li {
			float:left;
			display:block;
			margin:10px;
		}
		
			.outfit_box {
				min-width:160px;
			}
			
				.outfit_box .outfit_title_container {}
				
					.outfit_box .outfit_title_container .outfit_title {
						margin:10px 10px 10px 0px !important;
						padding:0px !important;
						line-height:24px;
						font-weight:300;
						font-size:1.5em;
					}
					
						.outfit_box .outfit_title_container .outfit_title .outfit_cost {
							font-weight:normal;
						}
						
					.outfit_box .outfit_title_container .follow_social_links {}
					
						.outfit_box .outfit_title_container .follow_social_links>ul {
							float:right;
						}
						
							.outfit_box .outfit_title_container .follow_social_links>ul>li {
								float:left;
								line-height:24px;
								margin-left:8px;
							}
							
								.outfit_box .outfit_title_container .follow_social_links>ul>li>a {
									color:#FFFFFF;
									text-decoration:none;
									height:24px;
									width:24px;
									text-indent:-999em;
									display:block;
									background:#333333 url(../imgs/icon_sprite_social_share.png) 0px 0px no-repeat;
								}
								
								.outfit_box .outfit_title_container .follow_social_links>ul>li>a.pinterest 	{background-position:-24px 0px;}
								.outfit_box .outfit_title_container .follow_social_links>ul>li>a.twitter 	{background-position:-24px -24px;}
								.outfit_box .outfit_title_container .follow_social_links>ul>li>a.instagram 	{background-position:-24px -48px;}
								.outfit_box .outfit_title_container .follow_social_links>ul>li>a.facebook 	{background-position:-24px -72px;}
				
				.outfit_box .outfit_items_container.active {
					border:1px solid #000000;
					padding:10px;
					text-align:left;
				}
				
				.outfit_box .outfit_items_container {
					border:1px dashed #000000;
					padding:10px;
					text-align:center;
				}