/******************************************************\
*
*  3D skin
*
*    1. Arrows(direction) navigation
*    2. Paging navigation
*
\******************************************************/



/******************************************************\
*
*  1. Arrows (direction) navigation
*
\******************************************************/
.touchcarousel.three-d .arrow-icon {
	top: 0;
	background-image: url('../../imgs/icon_sprite_arrows.png');
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;	
	margin-top: 0;
	box-sizing:border-box;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), 
screen and (min--moz-device-pixel-ratio: 1.3), 
screen and (-o-min-device-pixel-ratio: 2 / 1), 
screen and (min-device-pixel-ratio: 1.3), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) {
	.touchcarousel.three-d .arrow-icon {
		background-image: url('../../imgs/icon_sprite_arrows_x2.png');
		background-size:60px 60px;
	}
}


.touchcarousel.three-d .arrow-holder {
	top: -30px;
	width: 30px;
	height: 30px;	
	
	-moz-opacity: 0.8;	
	-webkit-opacity: 0.8;	
	opacity: 0.8;	
}
.touchcarousel.three-d .arrow-holder.left {
	left: auto;
	right: 35px;
}
.touchcarousel.three-d .arrow-holder.right {	
	right: 0px;
}

.touchcarousel.three-d .arrow-icon.left {
	left: 0;
	background-position:0px -1px;
	border:1px solid #000000;
}
.touchcarousel.three-d .arrow-icon.right {
	right: 0;
	background-position:0px -31px;
	border:1px solid #000000;
}

.touchcarousel.three-d .arrow-holder.disabled .arrow-icon.left {
	background-position:-30px -1px;
	border:1px solid #B0B0B0;
}
.touchcarousel.three-d .arrow-holder.disabled .arrow-icon.right {
	background-position:-30px -31px;
	border:1px solid #B0B0B0;
}
.touchcarousel.three-d .arrow-holder:hover {
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;	
}
.touchcarousel.three-d .arrow-holder:active {
	-moz-opacity: 0.7;	
	-webkit-opacity: 0.7;	
	opacity: 0.7;	
}
.touchcarousel.three-d .arrow-holder.disabled {
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;	
}

/******************************************************\
*
*  2. Paging navigation
*
\******************************************************/

.touchcarousel.three-d .tc-paging-container {		
	width: auto;
	float: none;
	
	right: 53px;
	
	margin-top: 0;	
	top: -21px;
}
.touchcarousel.three-d .tc-paging-centerer {
	float: none;
	position: relative;
	left: 0;
}
.touchcarousel.three-d .tc-paging-centerer-inside {	
	position: relative;
	left: 0;
	float: none;	
}
.touchcarousel.three-d .tc-paging-item {
	background: url('sprite.png') no-repeat -95px -4px;
	
	width: 16px;
	height: 16px;	
	
	-moz-opacity: 0.8;	
	-webkit-opacity: 0.8;	
	opacity: 0.8;	
}
.touchcarousel.three-d .tc-paging-item.current {	
	background: url('sprite.png') no-repeat -95px -22px;
}
.touchcarousel.three-d .tc-paging-item:hover {		
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;		
}





